nav{
  background-color: transparent;
    padding: 0 15px;
    color:white;
    transition: 0.5s ease;

}

.navbar-brand{
    right: 100px;
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
    color:teal;
    cursor: pointer;
    display: flex;
    flex: 0.5;
    gap:5px;
   
  }

#header-img{
    height: 50px;
    width: 50px;
    /* border-radius: 50%; */
    /* margin-left:15px ; */
}
.nav-link :active{
    color:white;
}

.nav-link{
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: var(--first-color); */
    color:white;
    font-size: 18px;
    font-weight: 400;
}

.nav-link:hover{
    color: #9EB384;
}


/* .nav-item{
    
    padding: 0px 10px;
} */

.header-icon:hover{
    color: #9EB384;
   
}

nav .nav-link ,#active-nav , .nav-item , .header-icon{
    color:teal;
    margin-left: 30px;
    font-weight: 500;
    transition: 0.3s ease;
}

