 .blog{
display: flex;
gap:10px;
}

.right-section{
    /* flex-grow: 1; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
    justify-content: center;
}

button
{
    all:unset;
}

button:hover{
cursor: pointer;
}

button:active{
    scale:0.9;
}

.left-section.flex{
    display: flex;
    flex-direction: column;
    gap:10px;
 
}

.left-section.flex button{
    background-color:teal;
    color: aliceblue;
    width: 176px;
    padding: 12px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
    opacity: 0.5;

}
.flex{
    align-items: start;
}
.left-section.flex button.active{
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding:13px 0 ;
    border: 1px solid #FDE5D4;
}

.left-section.flex button:hover{
    opacity: 1;
}
.cards {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    list-style: none;
    margin: 0;
    padding: 0;
    
  }

  .cardItems {
    display: flex;  
    
    filter:drop-shadow(0 0 5px rgba(23, 22, 24, 0.18));
    /* background:var(--first-color); */
    border-radius:10px;
    transition: var(-transition);
    margin: 10px;
  }

  .cardItems:hover{
    border:1px solid var(--first-color-2nd);
    background: transparent;
}

.card{
    /* border: 1px solid lightgreen; */
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    box-shadow: 5px 5px 20px black;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    padding: 5px;
    background-repeat: no-repeat;
    line-height: 1.2rem;
    background-color: rgb(247, 246, 249);
    -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
  
}
.card-body{
padding-left: 40px;
}

.card:hover{
 border: 1px solid teal;
 rotate: 1deg;
 scale: 1.01;
 cursor: pointer;
}



.card .box {
padding: 16px 8px;
width: 300px;
}

.card .box .title{
    color: teal;
}

.title{
    color: teal;
    font-weight: 400;
}

.card .box .subtitle{
   font-size: 12px;
   margin-top:10px ;
   margin-bottom: 10px;
   
}

.card-image{
    padding-top:10px ;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: space-between;
}

/* .more{
    align-self: self-end;
    left:10px;
} */

.card a.link{
    color: royalblue;
    font-size: 0.9rem;
    margin-right: 12px;

}
.location{
    font-size:12px;
    color:grey;
    
  }
  .qoute{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: var(--text-color);  
}

small{
    font-size: 11px;
}