 .blog{
display: flex;
gap:10px;
}

.right-section{
    /* flex-grow: 1; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
    justify-content: center;
}

button
{
    all:unset;
}

button:hover{
cursor: pointer;
}

button:active{
    scale:0.9;
}

.left-section.flex{
    display: flex;
    flex-direction: column;
    gap:10px;
 
}

.left-section.flex button{
    background-color:teal;
    color: aliceblue;
    width: 176px;
    padding: 12px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
    opacity: 0.5;

}
.flex{
    align-items: start;
}
.left-section.flex button.active{
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding:13px 0 ;
    border: 1px solid #FDE5D4;
}

.left-section.flex button:hover{
    opacity: 1;
}

.card{
    border: 1px solid lightgreen;
    border-radius: 5px;
    transition: 0.3s;
}

.card:hover{
 border: 1px solid blue;
 rotate: 1deg;
 scale: 1.01;
 cursor: pointer;
}

.blog-img{
    width:300px;
    border-radius:5px ;
}

.card .box {
padding: 16px 8px;
width: 300px;
}

.card .box .title{
    color: teal;
}

.title{
    color: teal;
    font-weight: 400;
}

.card .box .subtitle{
   font-size: 12px;
   margin-top:10px ;
   margin-bottom: 10px;
   
}

.icons{
    display: flex;
    justify-content: space-between;
}

/* .more{
    align-self: self-end;
    left:10px;
} */

.card a.link{
    color: royalblue;
    font-size: 0.9rem;
    margin-right: 12px;

}