
.container-home {
    text-align: center;
   
}

h3{
    
    color: #f9f9f9;
    outline: none;
    font-style: italic;
}

.home-title{

   align-items: center;
   font-family: lora;
    margin-top: 20px;
    font-size: 30px;
    color: #f9f9f9;
    font-weight: 900;
    /* font-style: italic */
}


.home-img{

object-fit: cover;
width: 100%;
align-items: center;
position: relative;
border-radius: 5%;
box-shadow: 0 4px 8px 0 rgba(199, 246, 243, 0.2), 0 6px 20px 0 rgba(158, 234, 228, 0.191);
}


